.Card {
    min-height: 200px;
    max-height: max-content;
    width: 40%;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 25px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    transition: all .1s ease-in-out;
}

.Card:hover{
    transform: scale(1.05);
}

.nameAge * {
    display: inline;
    font-family: 'Arimo', sans-serif;
}

.nameAge {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 1.25rem;
}

.disappointment {
    padding: 5px 10px;
    font-family: 'Arimo', sans-serif;
    font-size: 1.2rem;
}

.simple-share {
    text-align: center;
}

.simple-share-list {
    margin: 25px 25px 10px 25px;
    padding: 0;
}

/* Media Queries */

@media only screen and (max-width: 700px) {
    .Card {
        min-height: 200px;
        max-height: max-content;
        width: 75%;
        border: 1px solid black;
        border-radius: 25px;
        margin-bottom: 25px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
        transition: all .1s ease-in-out;
    }

    .nameAge {
        font-size: 1.5rem;
    }
  }