.Card {
    height: 200px;
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 25px;
}

.nameAge * {
    display: inline;
}

.nameAge {
    padding-top: 10px;
    padding-left: 10px;
}

.disappointment {
    padding: 5px 10px;
}

.buttons {
    text-align: center;
}

.buttons *{
    text-align: center;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 25px;
    margin-right: 10px;
    padding: 10px;
}